* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.background {
	position: relative;
	min-height: 100vh;
}

.modal-background {
	position: absolute;
	width: 100%;
	height: 100%;

	background: #FFFFFF url("../images/sale.jpg");
}

.modal-login {
	max-width: 570px;
	min-width: 440px;
	width: 570px;

	height: 400px;
}

.modal-login-body {
	position: relative;
	margin: 30px 60px;
	height: 270px;
}

.login-input, .password-input {
	display: block;
	height: 60px;	
	width: 100%;	
	
	margin: 0 0 21px 0;/*between input and label*/
	padding: 0 64px 0 20px;

	border-radius: 10px;	
	background-color: #FFFFFF;

	font-family: "PT Sans", sans-serif;
	font-size: 24px;	
	line-height: 32px;
	
	outline:none;
	border-width:inherit;

	background-repeat: no-repeat;
	background-position: right 19px center;
}

.login-input {
	text-overflow: ellipsis;
	background-image: url("../images/login-inactive.svg");
	background-size: 30px 30px;
}

.password-input {
	background-image: url("../images/password-inactive.svg");
	background-size: 30px 36px;
}

.login-label, .password-label {	
	display: inline-block;
	height: 21px;	
	color: #000000;	
	font-family: "PT Sans", sans-serif;
	font-size: 18px;	
	line-height: 23px;

	margin: 0 0 5px 6px;
}

.login-input:focus, .password-input:focus {
	border: 3px solid #BFD6D2;
	background-position: right 16px center;
}

.login-input:focus {
	background-image: url("../images/login-active.svg");
}

.password-input:focus {
	background-image: url("../images/password-active.svg");	
}

.login-input:invalid, .password-input:invalid {
	border: 3px solid #FF0000;
}

.login-input:invalid {
	background-image: url("../images/login-invalid.svg");
}

.password-input:invalid {
	background-image: url("../images/password-invalid.svg");	
}

.login-submit {
	position: absolute;
	bottom:0;
	right: 0;

	height: 50px;	
	width: 170px;	
	border-radius: 5px;	
	background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);

	outline:none;
	border-width:inherit;
	
	color: #FFFFFF;	
	font-family: "PT Sans Caption", sans-serif;
	font-size: 18px;	
	font-weight: bold;	
	line-height: 23px;	
	text-align: center;
}

.login-submit:active {
	background: linear-gradient(0deg, #2BBCC2 0%, #1B745F 100%);	
	box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.5);
}

/*It should be 480px but in such way it is more pretty*/
@media all and (max-width: 580px) {
	.modal-login {
		width: 95vw;
	}
}

