.modal-background {
	/*opacity: 0.5;*/
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
	
	z-index: -1000;
}

.modal-windows {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	min-height: 100vh;

	z-index: -1000;

	background: rgba(0,0,0,0.2);	
}

.modal-window {
	position: absolute;

	/*top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;*/

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 15px;
	background: url("../images/modal-bg.png"), rgba(0,0,0,0.2);	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.modal-window-header {	
	height: 70px;		
	border-radius: 15px 15px 0 0;	
	background-color: #FFFFFF;	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);

	line-height: 70px;
	text-align: center;

	padding: 0 40px;

	font-family: "PT Sans Caption";	
	font-size: 22px;	
	font-weight: bold;

	overflow: hidden;
	white-space: nowrap;		
	text-overflow: ellipsis;	
}