/* nav block -start-*/

.back-link, .category-nav {
	position: absolute;	
	top: 65px;
	height: 18px;

	color: #FFFFFF;	
	font-family: "PT Sans";	
	font-size: 16px;	
	font-weight: bold;
	line-height: 20px;	
}

.back-link {
	left: 31px;
	width: 33px;
}

.category-nav {
	right: 29px;	
	width: 191px;
}

.category-nav > span {
	font-weight: lighter;
}
/* nav block -end-*/

.product-s-container {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-content: stretch;
	align-items: stretch;

	margin: 55px 30px;
	padding: 0 0 20px 20px;

	background: url("../images/modal-bg.png"), #EDECEB;
}

/* left block -start-*/
.product-s-container > .left {
	flex: 1 98%;
	margin: 20px 20px 0 0;
}

.product-s-container > .left > div {
	position: relative;
}

.product-s-container .left .product-img {
	width: 100%;
	/*min-width: 380px;*/
	display: block;
}

.product-s-container .left .star-box {
	position: absolute;

	left: 0;
	bottom: 0;
	right: 0;

	background-color: rgba(0,0,0,0.75);
}

.product-s-container .left .star-box div {
	height: 35px;
	padding: 7px 17px 7px 17px;
}

.product-s-container .left .star-box img {
	height: 16.46px;	
	width: 17.31px;
	margin-right: 3.69px;
}

/* left block -end-*/

/* right block -start-*/

.product-s-container > .right {
	display: flex;
	flex-direction: column;
	flex: 1 102%;

	margin: 20px 20px 0 0;
}

.product-s-container .right .header {	
	font-size: 24px;	
	font-weight: bold;	
	line-height: 32px;
}

.product-s-container .right .text {	
	font-size: 16px;	
	line-height: 20px;

	flex:1 auto;
}

.product-s-container .right .text::before {
	content: "";
	box-sizing: border-box;
	display: inline-block;
	width: 100%;

	border: 1px solid #3FC5CB;
	margin: 6px 0;	
}

.product-s-container .buy {
	margin-top: 20px;
}

.product-s-container .buy label {
	float: left;

	font-size: 24px;	
	font-weight: bold;

	padding-top: 9px;
	line-height: 24px;	
	/*line-height: 32px;*/
}

.product-s-container .buy label > span:nth-child(1) {
	color: #288575;	
}

.product-s-container .buy label > span:nth-child(2) {
	font-size: 16px;
	font-weight: lighter;
}

.product-s-container .buy input {
	float: right;

	height: 35px;	
	width: 120px;	
	border-radius: 5px;	
	background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);

	outline: none;
	border-width: inherit;

	color: #FFFFFF;	
	font-size: 14px;	
	line-height: 19px;	
	text-align: center;
}

.product-s-container .buy input:active {
	background: linear-gradient(0deg, #2BBCC2 0%, #1B745F 100%);	
	box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.5);
}

/* right block -end-*/

@media all and (min-width: 860px) {

	.product-s-container {
		flex-direction: row;
	}

	product-s-container .left .product-img {
		min-width: 400px;
	}

	.product-s-container .right .text::before {
		margin: 10px 0;
	}

	.product-s-container .buy::before {
		content: "";
		box-sizing: border-box;
		display: inline-block;	
		width: 100%;

		border: .5px solid #D6D6D6;
		margin: 6px 0;
	}

	.product-s-container .buy {
		margin-top: 2px;
	}
}