.radio-switch-box input[type=radio] {
    display: none;
}

.radio-switch-box {
    display: inline-block;
}

.radio-switch-box #switch-slider-off:checked + .radio-switch-box-grouping {
    height: 26px;
    width: 42px;
    border: 1px solid #288575;
    border-radius: 25px;
    background-color: #FFFFFF;
}

.radio-switch-box #switch-slider-on:checked + .radio-switch-box-grouping {
    height: 26px;
    width: 42px;
    border: 1px solid #288575;
    border-radius: 25px;
    background-color: #288575;
}

.radio-switch-box .radio-button {
    position: absolute;

    height: 20px;
    width: 20px;

    border-radius: 25px;
    cursor: pointer;
    transition: all .5s ease;

    top: 3px;
    bottom: 3px;

    display: none;
}

.radio-switch-box #switch-slider-off:checked + .radio-switch-box-grouping .radio-button {
    display: inline-block;
    /*container width - label width - space*/
    left: calc(42px - 20px - 3px);

    background-color: #288575;
}

.radio-switch-box #switch-slider-on:checked + .radio-switch-box-grouping .radio-button {
    display: inline-block;
    left: 3px;

    background-color: #FFFFFF;
}

.radio-switch-box .radio-label {
    position: absolute;

    transform: translate(48px);
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
    white-space: nowrap;
}

.radio-switch-box #switch-slider-off:not(:checked) + .radio-switch-box-grouping .radio-label,
.radio-switch-box #switch-slider-on:not(:checked) + .radio-switch-box-grouping .radio-label {
    display: none;
}

.radio-switch-box #switch-slider-on:checked + .radio-switch-box-grouping .radio-label {
    color: #288575;
}